body, html {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}

#app {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.room-lobby {
  display: flex;
  justify-content: center;
  align-content: center;
}

.local-cam-video {
  left: 0;
  top: 0;
  user-select: none;
  border-radius: 4px;
  background-color: #000000;
  margin: 12px;
  position: relative;
  height: 360px;
  width: 640px;
}

.local-cam-video video {
  height: 100%;
}

.local-cam-video-controls {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.control-btn {
  position: relative;
  outline: none;
  border-style: solid;
  border-color: rgb(118, 118, 118);
  box-shadow: 1px 1px 8px black;
  border-radius: 50%;
  background-color: transparent;
  height: 64px;
  width: 64px;
  margin-bottom: 6px;
  opacity: 0.5;
}

.control-btn:hover {
  opacity: 0.8;
}

.control-btn:not(:last-child) {
  margin-right: 24px;
}
