body,
input,
button {
  font-size: 1.6vw;
  margin: 0;
  font-family: Sans-Serif, serif;
}

.room-view {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.video-section {
  display: flex;
  flex-grow: 1;
}

.video-list {
  width: 240px;
  align-self: stretch;
}

.video-list-item {
  width: 100%;
  /* Flip it horizontally so it feels right when looking at yourself */
  transform: scale(-1, 1);
}

.active-video-wrapper {
  height: 100%;
}

.active-video {
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  height: 100%;
}

.active-video-element {
  height: 100%;

  /* Flip it horizontally so it feels right when looking at yourself */
  transform: scale(-1, 1);
}

.controls {
  position: absolute;
  bottom: 24px;
  left: 50%;
  margin-left: -208px;
}

.control-btn {
  position: relative;
  outline: none;
  border-style: solid;
  border-color: rgb(118, 118, 118);
  box-shadow: 1px 1px 8px black;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  margin-bottom: 6px;
  opacity: 0.5;
}


.control-btn img {
  width: 80%;
  height: 100%;
}

.control-btn:hover {
  opacity: 0.8;
}

.control-btn:not(:last-child) {
  margin-right: 24px;
}

.roomCodeInput:focus {
  outline: 0;
  border-bottom-color: hsl(240, 2%, 80%);
}

.roomCodeInput {
  border: none;
  border-bottom: solid 2px hsl(240, 2%, 30%);
  font-size: 1em;
  background-color: transparent;
  color: #fff;
  padding: .4em;
  margin: 2ex 0;
  width: 100%;
  max-width: 12em;
  display: block;
}

.roomSelectButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recent-room {
  color: hsl(217, 89%, 61%);
  margin: 1ex 1em;
}

.primary-button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: hsl(217, 89%, 61%);
  border: none;
  color: white;
  font-size: 0.8em;
  margin: 0 5px 20px 5px;
  width: 8em;
  line-height: 3ex;
  padding: 1ex 0.7em;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .5);
}

.message-area {
  overflow: hidden;
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  transition: max-height .3s ease;
}
